@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #171717;
  --text: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafaf9;
    --text: #ffffff;
  }
}

body {
  width: 100%;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
}

main {
}

.font-playfair {
  font-family: var(--font-playfair);
}
.font-inter {
  font-family: var(--font-inter);
}

h1,
h2,
h3 {
  font-family: var(--font-playfair);
}

h4,
h5,
h6 {
  font-family: var(--font-inter);
}

p,
button,
input,
label,
span,
li {
  font-family: var(--font-inter);
}

.links-hover:hover {
  color: #f59e0b;
  transition: color ease 0.2s;
}
