@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #171717;
  --text: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --color-stone-50: #fafaf9;
  --color-stone-300: #d6d3d1;

  --color-neutral-900: #171717;

  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;

  --color-amber-500: #f59e0b;
  --color-amber-700: #b45309;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafaf9;
    --text: #ffffff;
  }
}

body {
  width: 100%;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 1.125rem;
  width: 100%;
  max-width: 1280px;
}

.wrapper-bg-stone {
  background-color: #d6d3d1;
  width: 100vw;
}

.wrapper-hero-bg {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 50vh;
  display: flex;
  align-items: center;
}

.wrapper-nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

@media (min-width: 640px) {
  .wrapper-content {
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper-content {
    gap: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .wrapper-content {
    gap: 3rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1280px) {
  .wrapper-content {
    gap: 3.75rem;
  }
}

@media (min-width: 1536px) {
  .wrapper-content {
    gap: 4.5rem;
  }
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}

h1,
h2 {
  font-family: var(--font-playfair);
}

h2 {
  font-size: 36px;
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
}

p,
button,
input,
label,
span,
li {
  font-family: var(--font-inter);
}

.links-hover:hover {
  color: #f59e0b;
  transition: color ease 0.2s;
}