@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #171717;
  --text: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --color-stone-50: #fafaf9;
  --color-stone-100: #F5F5F4;

  --color-stone-300: #d6d3d1;

  --color-neutral-900: #171717;

  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6b7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;

  --color-amber-100: #FEF3C7;
  --color-amber-500: #f59e0b;
  --color-amber-700: #b45309;
}



body {
  width: 100%;
  min-height: 100svh;
  background: var(--background);
  color: var(--foreground);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.wrapper-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 1.125rem;
  width: 100%;
  max-width: 1280px;
}

.wrapper-bg-stone {
  background-color: #F5F5F4;
  ;
  width: 100vw;
}

.wrapper-hero-bg {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 50vh;
  display: flex;
  align-items: center;
}

.wrapper-nav,
.wrapper-footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.wrapper-nav-outer {
  position: absolute;
  inset: 0 auto auto 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.wrapper-nav-container {
  width: calc(100% - 2rem);
  margin: 1rem auto 0;
  background-color: var(--color-stone-50);
  border-radius: 0.75rem;

}

.wrapper-nav-content {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper-footer-bg {
  background-color: #171717;
  color: #ffffff;
  width: 100vw;
}

@media (min-width: 640px) {
  .wrapper-content {
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper-content {
    gap: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .wrapper-content {
    gap: 3rem;

  }
}

@media (min-width: 1280px) {
  .wrapper-content {
    gap: 3.75rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1536px) {
  .wrapper-content {
    gap: 4.5rem;
  }
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}

h1,
h2 {
  font-family: var(--font-playfair);
}

h2 {
  font-family: var(--font-playfair);
  font-size: 36px;
}

h3 {
  font-family: var(--font-playfair);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
}

h4,
h5,
h6 {
  font-family: var(--font-inter);
}

p,
button,
input,
label,
span,
li {
  font-family: var(--font-inter);
}

.links-hover:hover {
  color: #f59e0b;
  transition: color ease 0.2s;
}